---
layout: default
title: tontinme's blog
---

<div id="content" class="index">

	<p class="nav">NOTES</p>
	<ul class="posts">
		{% for post in site.categories.notes %}
		<li><p class="date">{{ post.date | date:"%b %d, %Y" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	<p class="nav">PROJECTS</p>
	<ul class="posts">
		{% for post in site.categories.project %}
		<li><p class="date">{{ post.date | date:"%b %d, %Y" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	<p class="nav">THINKING</p>
	<ul class="posts">
		{% for post in site.categories.thinking %}
		<li><p class="date">{{ post.date | date:"%b %d, %Y" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	</ul>
	<p class="nav">INTERESTING</p>
	<ul class="posts">
		{% for post in site.categories.interesting %}
		<li><p class="date">{{ post.date | date:"%b %d, %Y" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	<p class="nav">MOVIES & MUSIC</p>
	<ul class="posts">
		{% for post in site.categories.movie_music %}
		<li><p class="date">{{ post.date | date:"%b %d, %Y" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

	<p class="nav">LIFE</p>
	<ul class="posts">
		{% for post in site.categories.life %}
		<li><p class="date">{{ post.date | date:"%b %d, %Y" }}</p> <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

</div>
<p style="border-top:1px solid #bbb; margin:20px -20px"></p>
