<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>tontinme's blog</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1281124-20']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>

	<body>
		<div id="logo"><h1><a href="/">tontinme's blog</a></h1></div>
		<div id="wrapper">
			<div id="header">
				<ul>
<!--					<li>
						<a href="#">ARTICLES</a>
						<ul>
							{% for category in site.categories %}
							<li><a href="/{{ category[0] }}.html"> {{ category[0] }}</a></li>
							{% endfor %}
						</ul>
					</li>
-->
					<li><a href="/archives.html">ARTICLES</a></li>
					<li><a href="/category.html">CATEGORY</a></li>
					<li><a href="/quotes.html">QUOTES</a></li>
					<li><a href="/projects.html">PROJECTS</a></li>
					<li><a href="/resume.html">RESUME</a></li>
					<li><a href="/about.html">ABOUT</a></li>
				</ul>
			</div>
			<br />
			{{ content }}

			<div id="memo" style="display:none">
				<p class="nav">2011 TECH GOALS</p>

				<ul class="index">
				<li><b>services:</b> gtask<span style="color:#999"> / </span>greader<span style="color:#999"> / </span>gmail<span style="color:#999"> / </span>gdict<span style="color:#999"> / </span>dropbox<span style="color:#999"> / </span>delicious(diigo)<span style="color:#999"> / </span>github<span style="color:#999"> / </span>twitter<span style="color:#999"> / </span>analytics<span style="color:#999"> / </span>basecamp<span style="color:#999"> / </span>feedburner<span style="color:#999"> / </span>gae<span style="color:#999"> / </span>aws<span style="color:#999"> / </span>linode<span style="color:#999"> / </span>jiankongbao</li>
				<li><b>tools:</b> php<span style="color:#999"> / </span>objectiv-c<span style="color:#999"> / </span>html5<span style="color:#999"> / </span>nodejs<span style="color:#999"> / </span>mysql<span style="color:#999"> / </span>pylons + python<span style="color:#999"> / </span>redis</li>
				<li><b>books:</b> aglie software development<span style="color:#999"> / </span>rapid development<span style="color:#999"> / </span>algorithms of the intelligent web<span style="color:#999"> / </span>building scalable web sites<span style="color:#999"> / </span>code complete 2<span style="color:#999"> / </span>designing web interface<span style="color:#999"> / </span>pro git<span style="color:#999"> / </span>getting real<span style="color:#999"> / </span>personal development for smart people<span style="color:#999"> / </span>the art of project management<span style="color:#999"> / </span>the programic programmer<span style="color:#999"> / </span>the design of everyday things<span style="color:#999"> / </span>rework<span style="color:#999"> / </span>introduction to algorithms</li>

				<li><b>codes:</b> dry<span style="color:#999"> / </span>good comments<span style="color:#999"> / </span>global config<span style="color:#999"> / </span>global instance create method<span style="color:#999"> / </span>tdd<span style="color:#999"> / </span>modularity<span style="color:#999"> / </span>extendable<span style="color:#999"> / </span>robust log<span style="color:#999"> / </span>restful</li>
				</ul>

			</div>

			<div id="goal2011" style="display:none">
				<p class="nav">2011 KEYWORDS</p>
				<ul class="index">
					<li>tech (30%) <span style="color:#999"> / </span> startup (30%) <span style="color:#999"> / </span> reading (20%) <span style="color:#999"> / </span> blog (20%) &gt; money &gt; apple</li>
				</ul>
			</div>

			<div id="footer">
				<a id="feed" href="/atom.xml"><img src="/image/rss.png">&nbsp;&nbsp</a></a>
				<a id="feed" href="mailto:tontinme@gmail.com"><img src="/image/gmail.png">&nbsp;&nbsp</a></a>
				<a id="feed" href="http://github.com/tontinme"><img src="/image/github.png">&nbsp;&nbsp</a></a>
				<a id="feed" href="http://twitter.com/tontinme"><img src="/image/twitter.png">&nbsp;&nbsp</a></a>
				<a id="feed" href="http://cn.linkedin.com/pub/shawn-tim/1a/3a7/199"><img src="/image/linkedin.png">&nbsp;&nbsp</a></a>
				<a id="feed" href="http://www.facebook.com/tontinme"><img src="/image/facebook.png">&nbsp;&nbsp</a></a>
				<span style="color:#bbb;font-size:12px">世界如此安静</span>
				<p style="clear:both"></p>
               			<p>
               				<span style="color: rgb(187, 187, 187); font-size: 10px;">&nbsp;&nbsp:&nbsp;This blog is built with <a href="http://github.com/mojombo/jekyll">Jekyll {% jekyll_version %}</a>. The post contents are copyright <a href="http://tontin.me/">tontinme</a> 2010-2011. You can find the source of this site on <a href="http://github.com/tontinme/tontinme.github.com">github</a>. You can contact tontinme at <a href="mailto:tontinme@gmail.com">here</a>.</span> 
              			 </p>
			</div>
		</div>
		<!--
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		-->
		<script>
		if (location.toString().split('?')[1] == 'lzyy') {
			document.getElementById('memo').style.display = 'block';
			document.getElementById('goal2011').style.display = 'block';
		}
		</script>
	</body>
</html>

